.contact-item-container{
    display: flex;
    flex-direction: row;
}

.contact-item{
    position: relative;
    left: 10px;
    transition: all 0.5s ease-in-out;
    width: 70px;
    z-index: 100;
}

.shade{
    position: absolute;
    left: 40%;
    transition: all 0.5s ease-in-out;
    width: 600px;
    height: 70px;
    z-index: 50;
}

.shade1{
    background-color:#dfe3ea;
}

.shade2{
    background-color: #e0e5eb;
}

.shade3{
    background-color: #e1e7ed;
}

.contact-item-content{
    height: 70px;
    line-height: 70px;
    text-decoration: underline;
    font-size: 24px;
    color: #4c5665;
    position: relative;
    z-index: 0;
    font-family: 'Merriweather', serif;
}

.contact-item-container:hover .contact-item{
    left: 400px;
}

.contact-item-container:hover .shade{
    left: 80%;
}
